/* css styles */

h4 {
  color: #939393;
}

.label {
    margin-right: 5px;
    border-radius: 6px;
    padding: 4px 6px 4px 7px;
    width: 101px;
    color: white;
    font-size: 0.9em;
    display: inline-block; // a bit of separation from text outside button
}

.label-Overview { background-color: #facd05}
.label-None { background-color: #c0d6fc}
.label-Lecture { background-color: #e3e3e3}
.label-Lectur2 { background-color: #ffffff}
.label-Participation { background-color:  #7A77B9}
.label-Labwork { background-color: #e3e3e3}
.label-Labwork2 { background-color: #ffffff}
.label-Homework { background-color: #efff85}
.label-Project { background-color: #c1fca9}
.label-Pub { background-color: #b0fffc}
.label-Shiny { background-color: #377eb8}
.label-Quiz { background-color: #ff85ef}
.label-Midterm { background-color: #7A2CAB}
.label-Final { background-color: #7A2CAB}
.label-Review { background-color: #c3c3c3}

